{% extends "base.html" %}
{% block content %}

    <h2>About</h2>
    <p>
        The formation of the group grew out of a meeting Gandalf had with Thorin in Bree which kindled Thorin's interest
        in recapturing his long lost family inheritance. (Thorin's grandfather had been the King under the Mountain when
        Smaug came and took it.) Remembering that he had once known an adventurous Hobbit on his travels in the Shire,
        Gandalf decided to add Bilbo to their company because he knew that stealth and cunning were preferable to force.
        Gandalf also believed that someone like Bilbo could keep the sometimes prideful and stubborn Dwarves from rash
        action. The superstitious Dwarves also considered thirteen to be an unlucky number, and as Gandalf had planned
        to leave on other business, welcomed a fourteenth to fill into their party.
    </p>
<!-- thorin -->
    <div class="row featurette">
        <div class="col-md-7">
            Thorin II was born in TA 2746 to Dwarf prince Thráin II in the city of the Lonely Mountain. Early in his
            youth, he and the other Dwarves of the Lonely Mountain were forced to flee by the dragon Smaug in TA 2770.
            While in exile, he quickly grew to become a capable warrior. This was demonstrated when he participated in
            the Battle of Azanulbizar in TA 2799. He fought with one of the Dwarven armies beneath the East-gate of
            Moria. At some point in the fighting, his shield broke, and using an oaken tree branch found on the ground
            as a shield, he gained the epithet "Oakenshield," which would remain with him even in death.[2]

            Thorin became King-in-Exile of Durin's Folk in TA 2850 after his father went missing, and died in the
            dungeons of Dol Guldur.
        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/5/5c/1374718_677522075594439_121362426_n.jpg" alt="Photo of Thorin Oakenshield dwarf">
        </div>
    </div>
    <br>
<!-- fili and kili -->
    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/b/b4/The-Hobbit-Fili-and-Kili.jpg" alt="Photo of Kili and Fili dwarves">
        </div>
        <div class="col-md-7">
            Fíli and Kíli were nephews of Thorin, who was the elder brother of their mother, Dís. They were also nephews
            of Frerin, grandsons of Thráin II, and great-grandsons of Thrór. Fíli's most distinguishing feature was his
            long nose, the longest of any of the Dwarves in Thorin's company.[2]
        </div>
    </div>
    <br>
    <!-- oin -->
    <div class="row featurette">
        <div class="col-md-7">
            Óin was the older brother of Glóin, cousin of Dwalin and Balin, and uncle of Gimli. Óin's uncle was Fundin, the father of Balin and Dwalin.
        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/e/e8/Oin.jpg" alt="Photo of Oin dwarf">
        </div>
    </div>
    <br>

    <!-- gloin -->
    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/f/fc/Gloin_2.jpg" alt="Photo of Gloin dwarf">
        </div>
        <div class="col-md-7">
            Glóin was born in TA 2783, after the dragon Smaug desolated Erebor. He was the younger child of Gróin and younger brother of Óin.
        </div>
    </div>
    <br>

    <!-- balin -->
    <div class="row featurette">
        <div class="col-md-7">
            Balin was likely born in the Lonely Mountain before the coming of the dragon Smaug. He had a younger brother
            named Dwalin, and was amongst those driven from their homes when Smaug attacked the Lonely Mountain.
            Afterwards, he may have lived in Dunland as a refugee, before fighting in the War of the Dwarves and Orcs
            which culminated in the Battle of Azanulbizar. Many years later, in approximately TA 2841, he accompanied
            Thráin II, the father of Thorin, when he attempted to go back to the Lonely Mountain himself, but Thráin was
            captured and lost.[1]
        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/5/52/Balin.jpg" alt="Photo of Balin dwarf">
        </div>
    </div>
    <br>
    <!-- dwalin -->
    <div class="row featurette">
        <div class="col-md-5">
                <img src="https://static.wikia.nocookie.net/lotr/images/1/1c/Dwalin.jpg" alt="Photo of Dwalin dwarf">
        </div>
        <div class="col-md-7">
                Born in TA 2772, two years after the dragon Smaug had desolated Erebor, Dwalin was the son of Fundin and
                younger brother of Balin. After fighting in the Battle of Azanulbizar at the age of 27, Dwalin
                accompanied Thráin II and Thorin Oakenshield to settle peacefully in the northern Ered Luin.
        </div>
    </div>
    <br>

    <!-- ori-->
    <div class="row featurette">
        <div class="col-md-7">
        Ori was a member of Thorin's Company of Dwarves and participated in the Quest of Erebor, as well as fighting in
        and surviving the Battle of Five Armies. He, along with his cousins Dori and Nori,[2] were remote kinsmen of
        Thorin II Oakenshield.
        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/8/81/Ori.jpeg" alt="Photo of Ori dwarf">
        </div>
    </div>
    <br>
    <!-- dori -->
    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/2/27/Mark_Hadlow_as_Dori.jpg" alt="Photo of Dori dwarf">
        </div>
        <div class="cd-md-7">
            Dori was a Dwarf of Durin's Folk, who, along with his brother Nori and cousin Ori,[1] travelled with Bilbo
            Baggins and Thorin Oakenshield as a member of Thorin's Company on theQuest for Erebor, to reclaim the Lonely
            Mountain from the dragon Smaug.
        </div>        
    </div>
    <br>
    <!-- nori -->
    <div class="row featurette">
        <div class="cd-md-7">
            Nori, as was his brother Dori, was a capable flutist, and both seem to have carried their flutes with them. Both
            shared Bilbo's liking for regular meals. Before the Quest for the Lonely Mountain, Nori lived in Thorin's Halls
            in the northern Blue Mountains with his two brothers.
        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/6/68/Noriposter.jpg" alt="Photo of Nori dwarf">
        </div>
    </div>
    <br>
<!-- bifur -->
<div class="row featurette">
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/b/b5/Bifur.jpg" alt="Photo of Bifur dwarf">
    </div>
    <div class="col-md-7">
        Whilst he was a descendant of the Dwarves of Khazad-dûm, Bifur was not related to the royal House of Durin. Most
        of his familial relations are unclear, and what is known of his parentage is very little. He and his family were
        driven out of their home in the Lonely Mountain by the dragon Smaug, and were forced to live in exile, where the
        Dwarf warrior worked as a toy maker. Following Thorin II Oakenshield to a new life at his halls in the Blue
        Mountains, he continued his life as a toy maker.
    </div>
</div>
<br>
<!-- bofur -->
<div class="row featurette">
    <div class="col-md-7">
        Bofur was not related to the royal House of Durin but was descended from the Dwarves of Khazad-dûm.
    </div>
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/5/56/Bofur_Nesbitt.jpg" alt="Photo of Bofur dwarf">
    </div>
</div>
<!-- bombur -->
<div class="row featurette">
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/e/ed/Bombur.jpg" alt="Photo Bombur dwarf">
    </div>
    <div class="col-md-7">
        Bombur's parentage is unknown. He was the brother of Bofur and cousin of Bifur. Bombur was not of Durin's line,
        although he was descended from the Dwarves of Khazad-dûm. His birth date is unknown, though it fell somewhere
        between TA 2763 and TA 2859; the brothers Fíli and Kíli were the youngest of the thirteen "by some fifty years,"
        and, after Thorin was captured, Balin was "the eldest left." Fíli was born in TA 2859, and Balin was born in TA
        2763. Bombur was thus roughly 150 years old during the quest. Prior to the journey, Bombur likely resided in the
        Blue Mountains alongside Thorin, after the loss of Thráin II.
    </div>
</div>
{% endblock %}
